<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="chat.css">
  <title>Connect.me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container"style="width:700px;">
	<div class="panel panel-default">
		<div class="panel-heading">Chat to Connect<span id="username" class="pull-right"></span></div>
		<div class="panel-body">
			<div id="messages"></div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<span id="fdata"> <!--style="display:none"-->
					<div class="col-md-8"><input type="text" class="form-control" id="messageInput" placeholder="Message..."></div>
					<div class="col-md-2"><button class="btn btn-success pull-right" type="button" id="subdata"> Submit </button></div>
				</span>
			</div>
		</div>
	</div>
</div>
</body>
<!--<script src="TUTAJ ŹRÓDŁO JS ELOOOOOOOOO"></script>-->
</html>