<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="chat.css">
  <title>Connect.me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
	
	
	<script type=text/javascript>
	var uid = {{uid}}
		
  $(function() {
    $('a#submit_entry').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        input: $('input[name="a"]').val(),
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>
	
	
</head>
<body>
	<div class="container" style="width:700px;">
	<div class="panel panel-default">
		<div class="panel-heading">Chat to Connect<span name="username" class="pull-right"></span></div>
		<div class="panel-body">
			<div id="messagebox" name="messages">MEESSAGES PLACEHOLDER</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<span id="fdata"> <!--style="display:none"-->
					<div class="col-md-8"><input id="inputBox" type="text" class="form-control" name="messageInput" placeholder="Message..."></div>

					<div class="col-md-2"><button onclick="submitText()" class="btn btn-success pull-right" type="button" href=# id="submit_entry"> Submit </button></div>
				</span>
			</div>
		</div>
	</div>
</div>
</body>

<script type="application/javascript" src="http://l2.io/ip.js?var=myip"></script>

<script>
	var counter = 0;
     window.setInterval(
     function () {
         counter = counter + 1;
         document.getElementById("messagebox").innerHTML = "counter: " + counter;
     }, 1000);

     getTxtToSubmit = function(){
     	return document.getElementById("inputBox").value;  
     }

     submitText = function(){

     	alert("your ip address: " + myip + "\nYour text: " + getTxtToSubmit());
     }



</script>
</html>