<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="css/chat.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/main.js">$SCRIPT_ROOT={{ request.script_root|tojson|safe }}</script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
  <title>Connect.me</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>

<body background="images/ConnectMeBG.jpg" style= "background-size: cover">
	
	<div class="container text-center">
		<h1><img src="images/ConnectMeLogo.png" style="width:600px;height:200px;"></h1>
	</div>
	<div class="container"style="width:80%">
	<div class="panel panel-default"style="background-color: rgba(245, 245, 245, 0.5);">
		<div class="panel-heading">Express yourself<span id="username" ></span></div>
		<div class="panel-footer"style="background-color: rgba(245, 245, 245, 0.5);">
			<div class="row">
					<div class="col-md-4"><input type="text" class="form-control" id="nameuser" placeholder="Username"></div>
			</div>
			<div class="row">
					<div class="col-md-8"><input type="text" class="form-control" id="concept_text" placeholder="Try: 'My work is depressing'"></div>
					<div class="col-md-2"><button class="btn btn-success" type="button" id="submit" onclick=("test()")> Submit </button></div>
			</div>
			<div id="footer" style = "visibility: visible;" class="panel-footer">
			<div class="row">
				<span id="topicListPlaceholder">
					<div style="font: arial; font-size: 14pt; font-color: blue; cursor:pointer; white-space: pre;" class="col-md-12"><span id="topicList"></span></div>
				</span>
			</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>


